@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    background-color: darkslategray;
    color: #eaeaea;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    "header"
    "contenido"
    ;
}

header {
    grid-area: header;
    background-color: #2b2b2b;
    padding: 20px;
    border-bottom: 3px solid #7a3db8;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li:hover {
    background-color: #6B3FA0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    border: 1px solid #cfa8ff;
}

main {
    grid-area: contenido;
    width: 80%;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #cfa8ff;
}

h3 {
    margin-bottom: 10px;
    color: #b98cff;
}

section {
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #444;
    display: flex;
    flex-direction: column;
}

section p {
    margin-bottom: 15px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
    width: 100%;
}

table th {
    background-color: #3a3a3a;
}

table th,
table td {
    border: 1px solid #888;
    padding: 8px;
    text-align: center;
}

article {
    margin-bottom: 15px;
}

section img {
    margin: 10px;
    border: 2px solid #555;
}

.imagenes {
    display: flex;
}

.imagenes img {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
    body {  
        background-color: red;
    }
}


