@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    background-color: #b03030;
    color: #eaeaea;
}

header {
    background-color: #7a1f1f;
    padding: 20px;
    border-bottom: 3px solid #f1c40f;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #f1c40f;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li:hover {
    background-color: #FF4500;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    border: 1px solid ;
}

main {
    width: 80%;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #f1c40f;
}

h3 {
    margin-bottom: 10px;
    color: #b03030;
}

section {
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #444;
    display: flex;
    flex-direction: column;
}

section p {
    margin-bottom: 15px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
    width: 100%;
}

table th, table td {
    border: 1px solid #888;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #3a3a3a;
}

article {
    margin-bottom: 15px;
}

.imagenes {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.imagenes img {
    display: block;
}